:root{
 --orange: #FF9F1C;
 --red: #E71D36;
 --blue: #2EC4B6;
  --paleblue: #80A1C1;
  --green: #3D7A3B;
  --cream: #F6D8AE;
  --darkgrey: #252323;
  --dark: #011627;
  --light: #ACBDBA;
  --boxborder: 6px;
  --ballborder: 12px;
}


html {
  font-size: 0.8em;
  color: var(--cream);
  background-color: var(--darkgrey);
  text-align: center;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}

svg:hover{
  background-color: var(--light);
}
h3:hover {
  background-color: var(--light);
}
li img:hover {
  border-color: var(--light);
}


img {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 100%;
  border: var(--ballborder) solid var(--orange); 
}

h1 {
  font-weight: normal;
  padding-top: 10px;
  font-family: 'Modak', cursive;
  font-size: 70px;
  color: var(--orange); 
}

h1.homepage {
  /*width:320px;*/
  /*height: 140;*/
  font-weight: normal;
  padding-top: 5px;
  font-family: 'Modak', cursive;
  font-size: 70px;
  color: var(--orange);
  text-shadow: 2px 0 0 var(--dark), -2px 0 0 var(--dark), 0 2px 0 var(--dark), 0 -2px 0 var(--dark), 1px 1px var(--dark), -1px -1px 0 var(--dark), 1px -1px 0 var(--dark), -1px 1px 0 var(--dark);
  /*background-color: var(--orange);
  border: var(--boxborder) solid var(--dark); */
}


h2 {
  font-weight: normal;
  padding-top: 10px;
  font-family: 'Modak', cursive;
  font-size: 60px;
  color: var(--blue);
   
}
h3 {
  font-weight: normal;
  padding-top: 10px;
  font-family: 'Modak', cursive;
  font-size: 40px;
  color: var(--green);
  border: var(--boxborder) solid var(--dark); 
}


svg {
  fill: var(--red);
  background-color: var(--dark);
  border-radius: 100%; 
}
li > div {
  background-color: var(--green);
  width: 180px;
  padding: 10px;
  font-family: 'Carter One', cursive; font-size: 14px;
  border: var(--boxborder) solid var(--dark); 
}
p {
  margin-bottom: 10px;
}

nav.nav-home a {
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Modak', cursive;
  font-size: 30px;
  text-decoration: none;
  color: var(--dark);
}

nav a:hover{
  color: var(--light);
}



div.nav-home {
  margin: 0;
  padding: 5px;
  width: 100%;
  display: inline-block;
  background: var(--blue);
  border-top: var(--boxborder) solid var(--dark);
  border-bottom: var(--boxborder) solid  var(--dark);
  border-right: none;
  border-left: none;
}

a {
  padding-top: 5px;
  font-family: 'Carter One', cursive;
  font-size: 12px;
  text-decoration: none;
  color: var(--paleblue);
}

a.notebook{
    padding: 5px;
  font-family: 'Carter One', cursive;
  font-size: 12px;
  text-decoration: none;
  color: var(--dark);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  width: 18%;
  padding: 0;
  margin:0;
}

li.article {
  padding-top: 10px;
  font-family: 'Modak', cursive;
  font-size: 20px;
  color: var(--paleblue);
}

/*ul.contact {
  list-style: none;
  margin: 10px;
  padding: 20px;
} */

ul.notebook {
  list-style: none;
}
nav.contact a {
  border-radius: 0%;
  
  /*background: var(--red);
  border: var(--boxborder) solid var(--dark);*/
  
}

/*li.contact {
  display: inline-block;
  padding: 20px;
  margin: 10px;
}*/

footer {
  /*background: var(--blue);*/
  font-weight: normal;
  font-size: 12px;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Carter One', cursive;
  color: var(--blue);
  text-shadow: 2px 0 0 var(--dark), -2px 0 0 var(--dark), 0 2px 0 var(--dark), 0 -2px 0 var(--dark), 1px 1px var(--dark), -1px -1px 0 var(--dark), 1px -1px 0 var(--dark), -1px 1px 0 var(--dark);
  /*border-top: 3px solid  var(--dark);*/
  /*border-bottom: 3px solid  var(--dark);*/
}


 blockquote.about {
  display:inline-block;
  padding: 5px;
  width: 650px;
  margin: 2px;
  font-family: 'Carter One', cursive;
  font-size: 30px;
  color: var(--paleblue);
  /*text-indent: 23px;*/
  }
 

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
  
blockquote cite:before {
    content: "\2014 \2009";
}


blockquote.homepage cite {
    color: #999999;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

blockquote.homepage {
  display:inline-block;
  padding: 5px;
  width: 75%;
  margin: 2px;
  font-family: 'Carter One', cursive;
  font-size: 15px;
  color: #fff;
  text-shadow: 2px 0 0 var(--dark), -2px 0 0 var(--dark), 0 2px 0 var(--dark), 0 -2px 0 var(--dark), 1px 1px var(--dark), -1px -1px 0 var(--dark), 1px -1px 0 var(--dark), -1px 1px 0 var(--dark);
  /*text-indent: 23px;*/
  }



  /*Media Queries*/
  @media screen and (max-width: 800px ){

nav li {
  width: 25%;
  }


}
